/*!
 * Roots 6.5.0
 */


/* ==========================================================================
   Base
   ========================================================================== */

body { }

.banner {
margin-bottom: 0px;
}

@font-face{
font-family: facet;
src: url(../fonts/facet.ttf);
}
h1,h2,h3,h4,h5,h6,p{
  font-family: 'proxima-nova';
}

/* ==========================================================================
   Header
   ========================================================================== */

.banner {
background: rgba(0,0,0,0);
border: 0px solid!important;
position: absolute;
width: 100%;
}
#menu-primary-navigation{
width: 100%;
}
.collapse.navbar-collapse{
background-color: rgba(204,204,204,.3)!important;
}
#menu-primary-navigation>li{
  display: inline-block;
  width: 14%;
  text-align: center;
}
li.active>a{
   background-color: rgba(204,204,204,.0)!important;
}
#menu-primary-navigation>li>a{
   padding: 10px 5px;
}

/* ==========================================================================
   Content
   ========================================================================== */

.content { }


/* ==========================================================================
   Home
   ========================================================================== */

.home-video{
   background: url(../img/video-bg.jpg) no-repeat;
   background-size: cover;
}
.testimonial-home{
   background: url(../img/testimonial-bg.jpg) no-repeat;
   background-size: cover;
}
.home-about{
   background: url(../img/about-bg.jpg) no-repeat;
   background-size: cover; 
   padding-bottom: 0%!important;
}
.book-band{
   background: url(../img/booking-bg.jpg) no-repeat;
   background-size: cover;
   background-position-y: -200px;
   min-height: 900px!important;
}
.songs-home{
   background: url(../img/songlist-bg.jpg) no-repeat;
   background-size: cover;
}
.home-slide {
padding: 3%;
min-height: 750px;
}
.book-content {
text-align: center;
}
.banner-img {
padding: 0!important;
}
.wpb_row.vc_row-fluid {
margin-bottom: 0px;
}
img.img-responsive.taryn {
width: 85%;
}
.book-content > * {
color: #fff;
}
.song-list {
list-style: none;
text-align: center;
}
.song-title{
  font-family: 'facet';
  font-size: 32px;
  color: #182a49;
  text-transform: uppercase;
}
.artist{
  font-family: 'facet';
  font-size: 32px;
  color: #21a7b5;
  text-transform: uppercase;
}
.pink{
  font-family: "jaf-facitweb";
  font-size: 32px;
  color: #b4148a;
  text-transform: uppercase;
}
/* ==========================================================================
   Primary Content
   ========================================================================== */

.main { }

/* Gallery Shortcode */
.gallery-row { padding: 15px 0; }



/* ==========================================================================
   Sidebar
   ========================================================================== */

.sidebar { }



/* ==========================================================================
   Posts
   ========================================================================== */

.hentry header { }
.hentry time { }
.hentry .byline { }
.hentry .entry-content { }
.hentry footer { }



/* ==========================================================================
   Footer
   ========================================================================== */

.content-info { }

#social ul {margin:0px; padding:0px; list-style: none;}
#social li {margin:0px; padding: 0px list-style:none; display: block; float:left;}
#social li a {padding: 10px;}

footer{
   /* I miiiiiight use this again later
   background-image: -webkit-gradient(
  linear, left bottom, left top, from(rgba(0,0,0,1)),
  to(rgba(0,0,0,0.7))
);*/
   background-color: #000;
   color: #fff;
}


/* ==========================================================================
   WordPress Generated Classes
   See: http://codex.wordpress.org/CSS#WordPress_Generated_Classes
   ========================================================================== */

.aligncenter { display: block; margin: 0 auto; }
.alignleft { float: left; }
.alignright { float: right; }
figure.alignnone { margin-left: 0; margin-right: 0; }



/* ==========================================================================
   Media Queries
   ========================================================================== */

/* Extra small devices (phones, up to 480px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
.navbar-brand{
   display: none;
}
.collapse.navbar-collapse{
margin: 20px auto;
max-width: 950px;
padding: 0 50px;
}

 }

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px ) { }

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { }
